
.about-me-container {
    /*background-image:url("/imgs/Small_blue_flower.jpg");
    /*background-color: #cccccc;*/*/
    height:600px;
    margin: 0 auto 0 auto;
    width:1000px;
    position:relative;
    overflow:hidden;
}

.about-me-container img {
    position:relative;
    left:auto;
    right:auto;
    left:-85px;
    top:-85px;
}

/*.photo {
  height:200px;
  width:180px;
  float:left;
  margin-left:100px;
  margin-top:100px;
  z-index:2;
  position:absolute;

}*/