body {
    font-family: Arial;
}

.banner {
    margin:0 auto;
    text-align:center;
}

.banner img {
    display:block;
    margin:0 auto;
}

.container {
    /*background-image:url("/imgs/Small_blue_flower.jpg");
    /*background-color: #cccccc;*/*/
    height:600px;
    margin: 0 auto 0 auto;
    width:1000px;
    position:relative;
    overflow:hidden;
}

/*.main {
    margin: 0px auto 0 auto;
    overflow:hidden;
}*/

.container img {
    position:relative;
    left:auto;
    right:auto;
    left:-85px;
    top:-65px;
}


/*.welcome{
    display:block;
    top:500px;
    background-color:white;
    left:200px;
}*/

/*.text h2{
    position:absolute;
    display:block;
    color: black;
    font: 14px Sans-Serif;
    z-index:5;
}*/

nav {
    text-align:center;
    margin-top: 15px;
    background-color:#80AEFF;
    height:45px;
    width:1000px;
    display:block;
    margin: 15px auto 0 auto;
    border-bottom: 4px solid #55EEA1;
    font-family: Arial;
    font-size:medium;
}

a:link{
    text-decoration: none;
    color: white;
    padding-right:25px;
    display:inline-block;
    margin-top:15px;
}

a:visited{
    color: white;
}

a:hover{
    color:black;
    font-weight:bold;
}

.soc {
    overflow:hidden;
    margin:auto;
    padding:0;
    list-style:none;
    text-align:center;
}

.soc img {
    width:50px;
    height:50px;
    margin:auto;
    position:relative;
    margin-right:-30px;

}
.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.bottom {
    position:relative;
    bottom:60px;
    background-color:#55EEA1;
    height:90px;
    width:1000px;
    display:block
    border-top:3px solid white;
    margin: 0px auto 0px auto;
}